<% if @event.starts_at > Time.now %>
  <div class="container-fluid tickets-buy">
    <div class="row tickets-header">
      <div class="col-xs-12 col-md-11 col-md-offset-1">
        <h3> <%= @event.name %> </h3>
        <div class="pull-left">
          <%= fa_icon 'map-marker' %>
        </div>
        <div class="venue-details">
        <%= @event.venue.name %>
        <br/>
        <%= @event.venue.full_address %>
        </div>

        <div class="pull-left">
          <%= fa_icon 'clock-o' %>
        </div>
        <div class="time-details"> 
          <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %> 
        </div>


      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">  
        <table class="table">
          <th> Ticket Type </th>
          <th> Unit Price </th>
          <th> Quantity </th>
        
          <% @event.ticket_types.each do |type| %>
          <tr>
            <td> <%= type.name %> </td>
            <td> <%= number_to_currency(type.price, unit: 'VND ', precision: 0) %> </td>
            <td> <%= type.remaining_ticket %></td> 
          </tr>
          <% end %> 
        </table>
        <%= simple_form_for @ticket, url: event_tickets_path, method: :post do |f| %>
          <%= f.input :ticket_type_id, collection: @ticket_types %>
          <%= f.input :count, collection: 1..10 %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :phone, as: :integer %>
        <div class="text-xs-center">
          <%= f.button :submit, class: "btn btn-success btn-lg" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>  
<% else %>
  <h1 class="text-xs-center">Can't book ticket of event in the past</h1>
<% end %>


